<!DOCTYPE html> 
<html>
  <head>
    <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>

    <div>
      <a href="/">Home</a>

      <% if session[:user_id] %>
        <form action="/logout" method="post" style="display:inline;">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" style="border:none; background:none; color:blue; cursor:pointer;">
            Logout
          </button>
        </form>
        Logged in as <%= User.find(session[:user_id]).username %>
      <% else %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
